<template>
  <div
      class="data-grid"
      v-if="columns && columns.length > 0"
  >
    <v-container fluid>
      <v-layout>
        <v-flex row>
          <ui-grid-search
              class="data-grid__search"
              v-if="displaySearch"
              :current-query="currentSearchQuery"
          ></ui-grid-search>
        </v-flex>
      </v-layout>
    </v-container>
    <table>
      <thead>
        <tr>
          <th
              class="datagrid-header"
              v-if="displayCheckboxes === true"
          >
            <ui-grid-actions-bulk
                v-if="selected.length > 0"
                :component="component"
                :actions="component.getBulkActions(selected)"
            ></ui-grid-actions-bulk>
          </th>
          <ui-grid-header
              v-for="(ch, chi) in columns"
              :key="chi"
              :column="ch"
              :sort-column="currentOrderBy"
              :sort-dir="currentOrderDir"
          ></ui-grid-header>
        </tr>
        <tr>
          <th
              :colspan="displayCheckboxes === true ? columns.length + 1 : columns.length"
          >
            <v-progress-linear v-bind:indeterminate="loading ? true : false"></v-progress-linear>
          </th>
        </tr>
      </thead>
      <tbody>
        <template v-if="items && items.length > 0">
          <tr v-for="(i,index) in items" :key="index">
            <td v-if="displayCheckboxes === true" class="text-xs-center">
              <v-checkbox v-model="selected" :value="i[idField]"></v-checkbox>
            </td>
            <slot :item="i" name="grid-items"></slot>
          </tr>
        </template>
        <tr v-else>
          <td
              :colspan="displayCheckboxes === true ? columns.length + 1 : columns.length"
          >
            <v-alert color="info" icon="info" value="true">{{t('No items')}}</v-alert>
          </td>
        </tr>
      </tbody>
    </table>
    <v-container fluid>
      <v-layout>
        <v-flex xs9>
          <ui-grid-pager
              v-if="displayPager && totalPages > 1"
              :total-pages="totalPages"
              :current-page="currentPage"
          ></ui-grid-pager>
        </v-flex>
        <v-flex xs3>
          <ui-grid-limiter
              v-if="displayLimiter"
              :current-limit="currentLimit"
          ></ui-grid-limiter>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import Header from './Grid/Header'
  import Search from './Grid/Search'
  import Limiter from './Grid/Limiter'
  import Pager from './Grid/Pager'

  export default {
    name: 'Grid',
    props: ['search', 'limiter', 'pager', 'resource_url', 'columns', 'checkbox', 'idField', 'component'],
    components: {
      'ui-grid-header': Header,
      'ui-grid-search': Search,
      'ui-grid-limiter': Limiter,
      'ui-grid-pager': Pager
    },
    data () {
      return {
        loading: false,
        items: [],
        selected: [],
        selectedAll: false,
        displaySearch: false,
        displayLimiter: false,
        displayPager: false,
        displayCheckboxes: false,
        currentSearchQuery: '',
        currentPage: 1,
        currentLimit: 25,
        currentOrderBy: 'created_at',
        currentOrderDir: 'desc',
        totalPages: 1,
        totalItems: 0
      }
    },
    mounted () {
      this.displaySearch = this.search && this.search === true
      this.displayLimiter = this.limiter && this.limiter === true
      this.displayPager = this.pager && this.pager === true
      this.displayCheckboxes = this.checkbox && this.checkbox === true

      this.loadData()

      // Detect sorting
      this.$on('reload', () => {
        this.loadData()
      })
      this.$on('change-sort', (data) => {
        this.currentOrderBy = data.column
        this.currentOrderDir = data.dir
        this.loadData()
      })
      this.$on('change-limit', (data) => {
        this.currentLimit = data.limit
        this.currentPage = 1
        this.loadData()
      })
      this.$on('change-page', (data) => {
        this.currentPage = data.page
        this.loadData()
      })
      this.$on('change-search', (data) => {
        this.currentSearchQuery = data.query
        this.currentPage = 1
        this.loadData()
      })
      this.$on('bulk-action-emit', () => {

      })
    },
    methods: {
      loadData () {
        this.loading = true
        this.apiGet(this.resource_url, {
          page: this.currentPage,
          limit: this.currentLimit,
          search: this.currentSearchQuery,
          orderBy: this.currentOrderBy,
          orderDir: this.currentOrderDir
        }).then(response => {
          if (response.body.error) {
            this.loading = false
            this.$root.$emit('show-alert', {
              type: 'error',
              title: 'Error',
              message: response.body.error
            })
          } else {
            this.items = response.body.items
            this.currentPage = response.body.pager.currentPage
            this.currentLimit = response.body.pager.currentLimit
            this.totalPages = response.body.pager.totalPages
            this.totalItems = response.body.pager.totalItems
            this.loading = false
          }
        }).catch(error => {
          this.loading = false
          this.$root.$emit('show-alert', {
            title: 'Error',
            type: 'error',
            message: error
          })
        })
      }
    }
  }
</script>

<style scoped>
  .data-grid,
  table {
    width: 100%;
  }
</style>