<template>
  <th class="datagrid-header" :class="getClass()" @click="sort()">
    <v-icon v-if="column.index === sortColumn && sortDir === 'asc'">keyboard_arrow_up</v-icon>
    <v-icon v-if="column.index === sortColumn && sortDir === 'desc'">keyboard_arrow_down</v-icon>
    <span v-html="t(column.text)"></span>
  </th>
</template>

<script>
  export default {
    name: 'Header',
    props: ['column', 'sortColumn', 'sortDir'],
    methods: {
      getClass () {
        return 'text-xs-' + this.column.align
      },
      sort () {
        if (this.column.sortable === true) {
          this.$parent.$emit('change-sort', {
            column: this.column.index,
            dir: this.column.index === this.sortColumn && this.sortDir === 'asc' ? 'desc' : 'asc'
          })
        }
      }
    }
  }
</script>